html,
body {
    height: 100%;
    font-family: Georgia, serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: lighter;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #03182e;
    align-items: center;
    justify-content: center;
}

hr {
    border: 1px grey solid;
    width: 100px;
}

.logo {
    display: flex;
    margin-left: 15px;
    margin-right: 30px;
    width: 10%;

}

.left-menu {
    display: flex;
    padding-left: 0px;
}

.left-menu ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0;
}

.left-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
    color: white;
}

.left-menu i {
    margin-right: 7px;
}

.left-menu a {
    color: white;
    text-decoration: none;
}

.right-menu {
    display: flex;
    margin-left: auto;
}

.right-menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

.right-menu li {
    flex-direction: row;
    margin-right: 20px;
    color: white;
}

.right-menu a {
    color: white;
    text-decoration: none;
}

.subscribe {
    padding: 3px 10px;
    background-color: red;
    border-radius: 5px;
    border: 1px black solid;
}

.fa-chevron-down {
    margin-left: 5px;
    font-size: 9px;
}

.fa-circle-user {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    border-left: 1px #ebebeb solid;
    margin-left: 15px;
    background-color: #fafafa;
    min-height: 100vh;
}

.breadcrumb {
    display: flex;
}

.breadcrumb ul {
    display: flex;
    list-style: none;
}

.breadcrumb li {
    flex-direction: row;
}

.breadcrumb li:not(:last-child)::after {
    margin: 20px;
    content: ">";
}

.breadcrumb a {
    text-decoration: none;
    color: #135392;
}

.biography {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    background-color: white;
    border: 1px #ebebeb solid;
    padding: 20px 0 20px 20px;
    width: 40%;
}

.biography-header {
    width: fit-content;
}

.action-buttons {
    display: flex;
    padding-left: 0;
}

.action-buttons ul {
    display: flex;
    list-style: none;
}

.action-buttons li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px rgb(243, 236, 236) solid;
    border-radius: 10px;
    margin-right: 10px;
    color: #135392;
}

.action-buttons a {
    text-decoration: none;
    color: #135392;
}

.action-buttons i {
    padding-right: 5px;
}

.author-infos {
    display: flex;
}

.author-infos ul {
    display: flex;

}

.author-infos li {
    flex-direction: row;
}

.author-infos a {
    text-decoration: none;
}

.alternate-title {
    color: #666666;
    font-size: 12px;
    font-style: italic;

}

.biography-header {
    line-height: 0.5em;
    width: fit-content;
}

.biography-text {
    width: 100%;
    line-height: 1.5em
}

.biography-text a {
    text-decoration: none;

}

.autor-and-date {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.autor-and-date a {
    text-decoration: none;
    justify-content: center;
    align-content: center;
}

.post-date {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}

.post-date li {
    margin-right: 30px;
    padding-left: 0;
}

#doted {
    border-bottom: 2px dotted #14599d;
}

.bold {
    font-weight: bold;
}

.biography-content {
    display: flex;
    justify-content: space-between;
}

.biography-text {
    width: 52%;
}


.additional-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: fit-content;
    border: 1px #ebebeb solid;
    margin-right: 15px;
}

.see-all-media-button {
    font-weight: bold;
}


.additional-infos a {
    text-decoration: none;
    color: #135392;

}

.additional-infos-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.additional-infos-text p {
    width: fit-content;
    margin: 5px 10px;
}


.related-content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    padding: 6px;
    border: 1px rgb(243, 236, 236) solid;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;

}

.related-content-button a {
    color: #135392;
    font-weight: bold;

}

.fa-arrow-right {
    margin-left: 5px;
    font-size: 7px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        width: 100%;
        margin: 0;
    }
    
    main {
        margin: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center; 
        width: 100%;
    }

    .logo {
        align-self: center;
        width: 30%;
        height: 30%;
        order: 2;
        margin: 0;
    }

    .left-menu {
        justify-content: flex-start;
        order: 1;
        width: 30%;
        margin-left: 20px;
    }

    .left-menu li {
        margin: 0;
        padding: 0;
    }

    .right-menu {
        width: 40%;
        order: 3;
    }

    .right-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .left-menu a {
        display: none;
    }

    .login {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        order: 1;
    }


    .login-display {
        display: none;
    }

    .subscribe {
        width: 50%;
        order: 2;
    }



}