html,
body {
    height: 100%;
    font-family: Georgia, serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #03182e;
    align-items: center;
    justify-content: center;
}

hr {
    border: 1px grey solid;
    width: 100px;
}

.tag-science-tech {
   width: fit-content; 
   background-color: #fed7aa ;
   border: 1px #fed7aa solid;
   border-radius: 10px;
   display: none;
}

.logo {
    display: flex;
    margin-left: 15px;
    margin-right: 30px;
    width: 10%;

}

.left-menu {
    display: flex;
    padding-left: 0px;
}

.left-menu ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0;
}

.left-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
    color: white;
}

.left-menu i {
    margin-right: 7px;
}

.left-menu a {
    color: white;
    text-decoration: none;
}

.right-menu {
    display: flex;
    margin-left: auto;
}

.right-menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

.right-menu li {
    flex-direction: row;
    margin-right: 20px;
    color: white;
}

.right-menu a {
    color: white;
    text-decoration: none;
}

.subscribe {
    padding: 3px 10px;
    background-color: red;
    border-radius: 5px;
    border: 1px black solid;
}

.fa-chevron-down {
    margin-left: 5px;
    font-size: 9px;
}

.fa-circle-user {
    visibility: hidden;
}

main {
    display: flex;
    flex-direction: column;
    border-left: 1px #ebebeb solid;
    margin-left: 15px;
    background-color: #fafafa;
    min-height: 100vh;
}

.breadcrumb {
    display: flex;
}

.breadcrumb ul {
    display: flex;
    list-style: none;
}

.breadcrumb li {
    flex-direction: row;
}

.breadcrumb li:not(:last-child)::after {
    margin: 20px;
    content: ">";
}

.breadcrumb a {
    text-decoration: none;
    color: #135392;
}

.biography {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    background-color: white;
    border: 1px #ebebeb solid;
    padding: 20px 0 20px 20px;
    width: 40%;
}

.biography-header {
    width: fit-content;
}

.action-buttons {
    display: flex;
    padding-left: 0;
}

.action-buttons ul {
    display: flex;
    list-style: none;
}

.action-buttons li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px rgb(243, 236, 236) solid;
    border-radius: 10px;
    margin-right: 10px;
    color: #135392;
}

.action-buttons a {
    text-decoration: none;
    color: #135392;
}

.action-buttons i {
    padding-right: 5px;
}

.author-infos {
    display: flex;
}

.author-infos ul {
    display: flex;

}

.author-infos li {
    flex-direction: row;
}

.author-infos a {
    text-decoration: none;
}

.alternate-title {
    color: #666666;
    font-size: 12px;
    font-style: italic;

}

.audio {
    display: none;
}

.biography-header {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.biography-text {
    width: 100%;
    line-height: 1.5em
}

.biography-text a {
    text-decoration: none;
    color: #135392;

}

.autor-and-date {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

.autor-and-date-mobile {
    display: none;
    flex-direction: column;
    font-size: 12px;
}

.autor-and-date-mobile p {
    line-height: 1px;
    padding: 5px 0;
}

.autor-and-date a, .autor-and-date-mobile a {
    text-decoration: none;
    justify-content: center;
    align-content: center;
}

.post-date {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
}

.post-date li {
    margin-right: 30px;
    padding-left: 0;
}

.doted {
    border-bottom: 2px dotted #14599d;
}

.bold {
    font-weight: bold;
}

.tab-content-button {
    display: none;
    border: 1px rgb(243, 236, 236) solid;
    border-radius: 5px;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.tab-content-button p {
    display: flex;
    margin-left: 5px;
}

.tab-content-button i, .tab-content-button p {
    color: #135392;
}

.biography-content {
    display: flex;
    justify-content: space-between;
}

.biography-text {
    width: 52%;
}


.additional-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: fit-content;
    border: 1px #ebebeb solid;
    margin-right: 15px;
}

.see-all-media-button {
    font-weight: bold;
}


.additional-infos a {
    text-decoration: none;
    color: #135392;

}

.additional-infos-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.additional-infos-text p {
    width: fit-content;
    margin: 5px 10px;
}

.additional-infos-text-mobile {
    display: none;
}

.related-content-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    padding: 6px;
    border: 1px rgb(243, 236, 236) solid;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;

}

.related-content-button a {
    color: #135392;
    font-weight: bold;

}

.fa-arrow-right {
    margin-left: 5px;
    font-size: 7px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 500px) {
    body {
        width: 100%;
        padding-top: 60px;
    }
    
    main {
        margin: 5px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px; 
    }

    .logo {
        align-self: center;
        width: 30%;
        height: 30%;
        order: 2;
        margin: 0;
    }

    .left-menu {
        justify-content: flex-start;
        order: 1;
        width: 30%;
        margin-left: 20px;
    }

    .left-menu li {
        margin: 0;
        padding: 0;
    }

    .right-menu {
        width: 40%;
        order: 3;
    }

    .right-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        padding-left: 20px;
    }

    .right-menu li {
        padding: auto;
    }

    .left-menu a {
        display: none;
    }

    .login {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        order: 1;
        margin-right: 10px;
    }
 
    .login-display {
        display: none;
    }

    .subscribe {
        width: 50%;
        order: 2;
    }

    .biography {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .biography-header {
        width: 100%;
    }

    .action-buttons {
        display: none;
    }

    .tag-science-tech  {
        display: inline;
    }

    .autor-and-date {
        display: none;
    }

    .post-date {
        display: flex;
        flex-direction:column;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .post-date li {
        padding-bottom: 10px;
    }

    .autor-and-date-mobile {
        display: inline;
        flex-direction: column;
        font-size: 12px;
    }

    .autor-and-date-mobile a {
        display: inline;
        flex-direction: column;
        font-size: 12px;
        color: #135392;
    }

    .audio {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border: 1px rgb(243, 236, 236) solid;
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 10px;
        gap: 20px;
        margin-left: 50px;
        position: relative;
    }

    .fa-circle-info {
        position: absolute;
        top:0;
        right: 0;
        font-size: 10px;
    }

    .tab-content-button {
        width: fit-content;
        display: flex;
        align-items: center;
        margin-left: 75px;
    }

    .tab-content-button p {
        width: fit-content;
        font-weight: 900;
    }
    
    .biography-content {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 15px;
    }

.additional-infos {
    width: fit-content;
    justify-self: center;
}


.additional-infos-text {
    display: none;
}

.additional-infos-text-mobile {
    display: flex;
    flex-direction: column;

}

.additional-infos-text-mobile p {
 line-height: 0;
 padding: 0 10px;
}


.related-content-button {
    align-self: center;
}

.biography-text {
    width: 90%;
    padding: 20px;
}

.biography-text a:not(.doted){
    text-decoration: underline;
    color: #135392;
}

}